<header id="header">

  <nav>
    {% for item in site.data.settings.menu %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <div class="header-container">
      <div class="header-body">
          <span class="date"> < {{ site.data.settings.date }} > </span>
          <div class="header-title">
              <span class="title">{{ site.data.settings.title }}</span>
            </div>
            <div class="kicker">
              <span>{{ site.data.settings.description }}</span>
              <span>{{ site.data.settings.description_goal }}</span>
              </div>
      </div>
  </div>
</header>
